<% @gossips.each do |gossip|%>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= @users.find(gossip.user_id).first_name%></h5>
      <p class="card-text"><%= gossip.title %></p>
      <p class="card-text"><small class="text-muted"><%= time_ago_in_words(gossip.created_at)%> ago.</small></p>
    </div>
  </div>

<% end %>