<h1>Team</h1>
<p>Codé avec soin par Demian et Vera <3 </p>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Vera</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Demian</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>

  </div>


  </div>
</div>